 #integracao2{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: inherit;
    align-items: center;
 }
 
 .vermelha{
    color: #f30;
}

 .azul{
    color: #03fa;
}

 .branco{
    background-color: #444;
    color: #fff;
}